/* This CSS file contains the locations of each sensor on the map */

/*
* Location IDs
* 
* These IDs are very important because they specify exactly
* where on the map to be shown. As you add more sensors, you
* must add those related IDs here to shown properly on the map
*/

/* Pi-based sensor above welding table */
#HotMetals-Aux-2 {
    position: absolute;
    top: 440px;
    left: 200px;           
}

/* Pi-based sensor next to CNC plasma table */
#HotMetals-5 {
    position: absolute;
    top: 380px;
    left: 40px;           
}

/* By curtain separating woodshop from hot metals */
#HotMetals-4{
    position: absolute;
    top: 380px;
    left: 270px;           
}

/* Next to box pointing north near door */
#CatWalk-1 {
    position: absolute;
    top: 160px;
    left: 1020px;           
}

/* Next to box pointing south */
#CatWalk-2 {
    position: absolute;
    top: 290px;
    left: 1020px;           
}

/* SW corner above sinks pointing NE */
#Kitchen-1 {
    position: absolute;
    top: 180px;
    left: 239px;           
}

/* Above printer pointing NW into room */
#Arts-1 {
    position: absolute;
    top: 140px;
    left: 860px;           
}

/* NE corner by bathroom pointing SW */
#Electronics-1 {
    position: absolute;
    top: 280px;
    left: 880px;           
}

/* Above bathroom pointing NW */
#Lasers-1 {
    position: absolute;
    top: 130px;
    left: 82px;           
}

/* NE corner by bathroom pointing SW */
#Lounge-2 {
    position: absolute;
    top: 285px;
    left: 95px;           
}

/* Above forge */
#HotMetals-1 {
    position: absolute;
    top: 440px;
    left: 130px;           
}

/* Above grinding table */
#HotMetals-2 {
    position: absolute;
    top: 395px;
    left: 170px;           
}

/* Above welders */
#HotMetals-3 {
    position: absolute;
    top: 452px;
    left: 260px;           
}

/* Attached to wall by dust collector */
#ShopBot-1 {
    position: absolute;
    top: 450px;
    left: 660px;           
}

/* On ceiling near the Tormach */
#Tormach-1 {
    position: absolute;
    top: 290px;
    left: 480px;           
}

/* On ceiling near the Small Metals */
#General-2 {
    position: absolute;
    top: 190px;
    left: 480px;           
}

/* On wall by Cold Metals computer */
#ColdMetals-1 {
    position: absolute;
    top: 250px;
    left: 290px;           
}

/* On wall next to door to kitchen */
#General-1 {
    position: absolute;
    top: 168px;
    left: 300px;           
}

/* Mounted on corner by kiln pointing SW */
#SmallMetals-1 {
    position: absolute;
    top: 150px;
    left: 600px;           
}

/* Mounted on corner in the dock */
#Dock-1 {
    position: absolute;
    top: 313px;
    left: 610px;           
} 

/* Mounted on corner in the dock */
#Woodshop-1 {
    position: absolute;
    top: 420px;
    left: 350px;           
} 

/* Mounted in middle near worktables */
#Woodshop-2 {
    position: absolute;
    top: 400px;
    left: 500px;           
} 

/* Mounted in middle near worktables */
#Woodshop-3 {
    position: absolute;
    top: 380px;
    left: 580px;           
} 

/* Pointing at the Bridgeport */
#ColdMetals-2 {
    position: absolute;
    top: 280px;
    left: 240px;           
} 